<div class="cal-inner-wrap">
		<form id="form2" class="calendarForm">
			<div class="datepicker-container">
				<div class="title">Schedule a Demo</div>
				<input id="datepicker" type="text">
			</div>
			<div class="timepicker-container">
				<div class="title">What time works best?</div>
				<input id="timepicker" type="text">

				<div class="button-container">
					<input class="phone" type="tel" placeholder="Phone number" onfocus="value=''" required="required">
					<button type="submit" class="btn-confirm disabled" >Confirm</button>
				</div>
			</div>
		</form>
	</div>
</div>

