<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Representativ - Your 24/7 virtual sales representativ</title>
    <meta name="description" content="Representativ - Your 24/7 virtual sales representativ"/>
    <meta name="keywords" content="Representativ, 24/7,sales representative"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/representativ.png') }}">
    <link href="static/indexAssets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="static/indexAssets/plugins/icomoon/style.css" rel="stylesheet" type="text/css">
    <link href="static/indexAssets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="static/indexAssets/plugins/animate-css/animate.min.css" rel="stylesheet" type="text/css">
    <link href="static/indexAssets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="static/indexAssets/plugins/flexslider/flexslider.css" rel="stylesheet" type="text/css">
    <link href="static/indexAssets/plugins/chartist-js/chartist.min.css" rel="stylesheet" type="text/css">
    <link href="static/indexAssets/plugins/flickity/flickity.min.css" rel="stylesheet" type="text/css">

    <link href="static/indexAssets/plugins/jpreloader/css/jpreloader.css" rel="stylesheet" type="text/css">
    <!-- Main CSS -->
    <link href="static/indexAssets/css/styles.min.css" rel="stylesheet" type="text/css">
    <!--<link href="static/indexAssets/css/colors/blue.css" rel="stylesheet" type="text/css">-->
    <!--[if lt IE 8]>
    <script src="static/indexAssets/plugins/modernizr/modernizr.min.js"></script>
    <![endif]-->
</head>
<body id="page-top">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- PRELOADER START -->
    <div id="jSplash" class="background-gray-light position-fixed top-0 width-100 height-100">
        <div class="background-grid">
            <div class="column"></div>
            <div class="column"></div>
            <div class="column"></div>
            <div class="column"></div>
            <div class="column"></div>
            <div class="column"></div>
        </div>
        <!-- //.background-grid -->
        <div class="rect">
            <div class="logo">
                <span class="display-inline-block font-family-alt text-center title-extra-large">
                    Representativ
                </span>
            </div>
            <!-- //.logo -->
        </div>
        <!-- //.rect -->
    </div>
    <!-- //PRELOADER END -->
    <!-- BORDER SITE START -->
    <div class="border-site bs-top"></div>
    <div class="border-site bs-right"></div>
    <div class="border-site bs-left"></div>
    <div class="border-site bs-bottom"></div>
   <!--
    <div class="nav-trigger nav-trigger-open">
        <div class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <nav id="navigation" class="navbar navbar-fixed-top" role="navigation">
        <div class="container-fluid display-table height-100 width-100">
            <div class="display-table-cell vertical-align-middle width-100">
                <div class="nav-trigger nav-trigger-close">
                    <span></span>
                    <span></span>
                </div>

                <ul class="nav navbar-nav font-family-alt text-extra-large text-uppercase">
                    <li class="page-scroll">
                        <a href="#hero">Home</a>
                    </li>

                    <li class="page-scroll">
                        <a href="#introduction">Introduction</a>
                    </li>

                    <li class="page-scroll">
                        <a href="#profile">Profile</a>
                    </li>

                    <li class="page-scroll">
                        <a href="#collaboration">Collaboration</a>
                    </li>

                    <li class="page-scroll">
                        <a href="#project">Projects</a>
                    </li>

                    <li class="page-scroll">
                        <a href="#studio">My Studio</a>
                    </li>

                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
                <div class="nav-social no-padding-rl no-padding-bottom padding-15">
                    <div class="inner-content">
                        <ul class="list-unstyled list-inline font-family-alt no-letter-spacing text-extra-large">
                            <li>
                                <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>

                            <li>
                                <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>

                            <li>
                                <a href="#" target="_blank"><i class="fa fa-behance"></i></a>
                            </li>

                            <li>
                                <a href="#" target="_blank"><i class="fa fa-dribbble"></i></a>
                            </li>

                            <li>
                                <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>

                        <span class="display-inline-block font-family-alt text-large">
                            hi@representativ.com
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </nav>-->
    <header class="header">
        <div class="logo" >
            <a href="#"  style="padding-left:7.5%; padding-right:10%;">
                <span><i class="fa fa-user-circle-o fa-5x" aria-hidden="true"></i></span>
            </a>
        </div>
    </header>
    <!-- //HEADER END -->
    <!-- BACKGROUND GRID START -->
    <div class="background-grid">
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
    </div>
    <!-- //BACKGROUND GRID END -->
    <!-- SECTION - HERO START -->
    <section id="hero" class="section hero background-cover background-gray background-position-center height-100 no-padding-tb">
      <div class="section-content display-table width-100 height-100">
        <div class="container display-table-cell vertical-align-middle text-center">
          <div class="skrollable skrollable-between" data-0="opacity: 1; transform: translate3d(0px, 0px, 0px);" data-top-bottom="opacity: 0; transform: translate3d(0px, 300%, 0px);">
            <div class="row">
                <main id="content" role="main">
                  {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      {% for message in messages %}
                        <div class="alert alert-dismissible alert-warning fade in" style="width:60%; background-color:transparent; border:0; margin:auto; color:#000000; font-size:12px;">
                          <a class="close" data-dismiss="alert">&times;</a>
                          {{ message }}
                        </div>
                      {% endfor %}
                    {% endif %}
                  {% endwith %}
                    {% block content %}{% endblock %}
                </main>
              <div class="col-md-12">
                <div class="hero-title display-inline-block position-relative">
                  <h2 class="font-family-alt title-extra-large-2">Hi, I am your AI Powered Sales Development <font color="#00c775">Representativ</font></h2>
                  <br>
                  <br>
                  <div class="page-scroll text-center"> <h4>I help your sales team get more demos with inbound leads.</h4><br></div>
                    <br>
                    <br>
                    <div class="profile-btn-download">
                        <form method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="text" name="name" value="Name" onfocus="this.value='';" style="display:inline; border:0; font-size:16px; width:25%; border-bottom:1px solid rgba(26,24,20,.3); background-color:transparent">&nbsp;&nbsp;&nbsp;&nbsp;
                         <input type="text" name="email" value="Your Work Email" onfocus="this.value='';" style="display:inline; border:0; font-size:16px; width:45%; border-bottom:1px solid rgba(26,24,20,.3); background-color:transparent">
                        <button type="submit" class="btn btn-medium background-color font-family-alt text-white">
                            <em class="icon-File-Download font-weight-700"></em> Request Demo</button>
                        </form>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- //SECTION - HERO END -->
    <!-- SECTION - PROFILE START -->
    <section id="profile" class="section background-gray-light no-padding-bottom">
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="profile">
                            <div class="profile-image" style="padding:20%;">
                                <span><i class="fa fa-user-circle-o fa-5x" style="font-size:20em;" aria-hidden="true"></i></span>
                            </div>
                            <div class="profile-description">
                                <div class="item display-table text-right">
                                    <span class="circle on-right"></span>

                                    <div class="display-table-cell vertical-align-middle" style="width:80%; margin:auto">
                                      <h6 class="font-family-alt no-letter-spacing title-small">Connect With Your Best Leads Faster</h6>
                                      <h7 class="font-weight-400 text-large">Your Representativ intelligently identifies qualified leads that arrive at your doorstep (website) and notifies you instantly<br>
                                      </h7>
                                    </div>
                                </div>
                                <div class="item display-table text-left">
                                    <span class="circle on-left"></span>

                                    <div class="display-table-cell vertical-align-middle">
                                      <h6 class="font-family-alt no-letter-spacing title-small">Nurture Every Single Lead</h6>
                                      <h7 class="font-weight-400 text-large">Sales teams accept only the hottest <br>
                                          leads. Your Representativ nurtures <br>
                                          every other lead to discover new opportunities<br>
                                      </h7>
                                    </div>
                                </div>
                                <div class="item display-table text-left">
                                    <span class="circle on-left"></span>
                                    <div class="display-table-cell vertical-align-middle">
                                      <h6 class="font-family-alt no-letter-spacing title-small">Don't Burn A Hole In Your Pocket</h6>
                                      <h7 class="font-weight-400 text-large">Your Representativ is a human-assisted<br>
                                          AI powered SDR, who responds to<br>
                                          responds to customers 24x7, <br>
                                          and never charges for overtime</h7>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile-chart margin-9 no-margin-bottom no-margin-rl">
                    <div class="row">
                        <div class="item col-xs-12 col-sm-3"><span class="font-family-alt text-uppercase" data-percent="100">Accurate</span></div>
                        <div class="item col-xs-12 col-sm-3"><span class="font-family-alt text-uppercase" data-percent="100">Optimistic</span></div>
                        <div class="item col-xs-12 col-sm-3"><span class="font-family-alt text-uppercase" data-percent="100">Hard Working</span></div>
                        <div class="item col-xs-12 col-sm-3"><span class="font-family-alt text-uppercase" data-percent="100">Sensitive</span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //SECTION - PROFILE END -->
    <!-- SECTION - SERVICES START -->
    <section id="services" class="section background-gray-light no-padding-bottom">
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="text-center">
                            <h3 class="section-title display-inline-block font-family-alt margin-4 no-margin-rl no-margin-top text-extra-large text-uppercase title-underline">Features</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <div class="services-item col-sm-4">
                                <div class="inner-content font-family-alt text-center">
                                    <i class="icon-Old-TV text-color title-extra-large-3"></i>
                                    <span class="display-block title-small text-uppercase"><span class="font-weight-700"></span>Smart Lead Capture</span>
                                    <p><br><span class="display-block text-medium text-uppercase">Our 'schedule a demo' form dynamically changes for different leads and qualifies them as they type</span></p>
                                </div>
                            </div>
                            <div class="services-item col-sm-4">
                                <div class="inner-content font-family-alt text-center">
                                    <i class="icon-Paper-Plane text-color title-extra-large-3"></i>
                                    <span class="display-block title-small text-uppercase">Intelligent Scheduling</span>
                                    <p><br><span class="display-block text-medium text-uppercase">Your Representativ prioritizes and schedules calls with leads and assigns them to the right reps</span></p>
                                </div>
                            </div>
                            <div class="services-item col-sm-4">
                                <div class="inner-content font-family-alt text-center">
                                    <i class="icon-Paint-Bucket text-color title-extra-large-3"></i>
                                    <span class="display-block title-small text-uppercase">EMAIL QUALIFICATION</span>
                                    <p><br><span class="display-block text-medium text-uppercase">Your Representativ has email conversations to nurture and qualify low graded leads</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //SECTION - SERVICES END -->
    <!-- SECTION - MILESTONES START -->
    <section id="milestones" class="section background-gray-light no-padding-bottom">
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="text-center">
                        <h3 class="section-title display-inline-block font-family-alt margin-4 no-margin-rl no-margin-top text-extra-large text-uppercase title-underline">Representativ's performance</h3>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <div class="milestones-item col-sm-4">
                                <div class="inner-content font-family-alt text-center"><span class="display-block font-weight-700 text-color title-extra-large-3">&lt;5 min</span> <span class="display-block text-medium text-uppercase">response time</span></div>
                            </div>
                            <div class="milestones-item col-sm-4">
                                <div class="inner-content font-family-alt text-center"><span class="display-block font-weight-700 text-color title-extra-large-3">30%</span> <span class="display-block text-medium text-uppercase">Humans reply to our rep</span></div>
                            </div>
                            <div class="milestones-item col-sm-4">
                                <div class="inner-content font-family-alt text-center"><span class="display-block font-weight-700 text-color title-extra-large-3">100%</span> <span class="display-block text-medium text-uppercase">Satisfaction</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //SECTION - MILESTONES END -->
    <!-- SECTION - TESTIMONIAL START #see original page for adding multiple rolling testimonials-->
    <section id="testimonial" class="section background-gray-light no-padding-bottom">
        <div class="section-content">
            <div class="testimonial-slider flexslider">
                <div class="slides">
                    <div class="item position-relative width-100">
                        <div class="col-md-12">
                          <h3 class="section-title display-inline-block font-family-alt margin-4 no-margin-rl no-margin-top text-extra-large text-uppercase title-underline">What customers have to say!</h3>
                        </div>
                        <div class="testimonial-content height-100">
                            <div class="display-table height-100">
                                <div class="display-table-cell vertical-align-middle">
                                    <p class="testimonial-quote display-block font-weight-300 title-medium">Ever since my representativ Emma entered my life, my response rates have shot up. She follows up with every lead multiple times and because they think she's human, they don't cancel calls!</p>
                                    <p class="testimonial-author display-inline-block font-family-alt margin-3 no-margin-bottom no-margin-rl text-large text-uppercase title-underline">Aviral Chandra - Sensus Labs</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //SECTION - TESTIMONIAL END -->
    <section id="contact" class="section background-gray-light no-padding-bottom">
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="text-center">
                            <h3 class="section-title display-inline-block font-family-alt margin-4 no-margin-rl no-margin-top text-extra-large text-uppercase title-underline">Get your own Representativ</h3>
                        </div>
                        <form method="post">
                            <br>
                            <br>
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="text" name="name" value="Name" onfocus="this.value='';" style="display:inline; border:0; font-size:16px; width:25%; border-bottom:1px solid rgba(26,24,20,.3); background-color:transparent">&nbsp;&nbsp;&nbsp;&nbsp;
                         <input type="text" name="email" value="Your Work Email" onfocus="this.value='';" style="display:inline; border:0; font-size:16px; width:45%; border-bottom:1px solid rgba(26,24,20,.3); background-color:transparent">
                        <button type="submit" class="btn btn-medium background-color font-family-alt text-white">
                            <em class="icon-File-Download font-weight-700"></em> Request Demo</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //SECTION - CONTACT END -->
    <!-- FOOTER START -->
    <footer class="section footer background-gray-light">
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="footer-column col-sm-4">
                        <span class="display-inline-block font-weight-700 letter-spacing-2 margin-3-5 no-margin-rl no-margin-top text-medium text-uppercase title-underline">Contact</span>
                        <ul class="list-unstyled">
                            <li>+1 415 746 9935</li>
                            <li>emma@representativ.com</li>
                        </ul>
                    </div>
                    <div class="footer-column col-sm-5">
                        <span class="display-inline-block font-weight-700 letter-spacing-2 margin-3-5 no-margin-rl no-margin-top text-medium text-uppercase title-underline">Visit</span>
                        <ul class="list-unstyled">
                            <li>450 Townsend St</li>
                            <li>San Francisco, CA - 94107</li>
                        </ul>
                    </div>
                    <div class="footer-column col-sm-3">
                        <span class="display-inline-block font-weight-700 letter-spacing-2 margin-3-5 no-margin-rl no-margin-top text-medium text-uppercase title-underline">Policies</span>
                        <ul class="list-unstyled">
                            <li>T&Cs</li>
                            <li>Privacy Policy</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright background-gray position-absolute text-center width-100">
            <span class="font-family-alt letter-spacing-1 line-height-none text-small">
                Copyright &copy; Scribe Technologies Inc 2017. All rights reserved.
            </span>
        </div>
    </footer>

    <script src="static/indexAssets/plugins/jquery/jquery.min.js"></script>
    <script src="static/indexAssets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/indexAssets/plugins/debouncer/debouncer.js"></script>
    <script src="static/indexAssets/plugins/easing/jquery.easing.min.js"></script>
    <script src="static/indexAssets/plugins/skrollr/skrollr.min.js"></script>
    <script src="static/indexAssets/plugins/chartist-js/chartist.min.js"></script>
    <script src="static/indexAssets/plugins/isotope/isotope.pkgd.min.js"></script>
    <script src="static/indexAssets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="static/indexAssets/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script src="static/indexAssets/plugins/tiny-scrollbar/jquery.tinyscrollbar.min.js"></script>
    <script src="static/indexAssets/plugins/flickity/flickity.pkgd.min.js"></script>
    <script src="static/indexAssets/plugins/jpreloader/js/jpreloader.min.js"></script>
    <script src="static/indexAssets/js/main.js"></script>
    <script src="static/indexAssets/js/text-rotator.js"></script>
    <script src="static/indexAssets/js/project.js"></script>
</body>
</html>