<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Representativ - Your personal 24/7 AI Sales Assistant!</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='ico/representativ.png') }}">
    <link href="/static/css/readable.bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/bootstrap-social/bootstrap-social.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />

	<script src="/static/js/ajax.googleapis.jquery.min.js"></script>
    <script src="/static/js/jquery.easing.min.js"></script>
	<script src="/static/js/jquery.scrollTo.js"></script>
	<script src="/static/js/jquery.appear.js"></script>
	<script type="text/javascript" src="/static/js/plugins.js" defer></script>
	<script type="text/javascript" src="/static/js/script.js" defer></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
