<link rel="stylesheet" type="text/css" href="static/modal/css/scribe.css">
<script type="text/javascript" src="{{ url_for('static',filename='modal/js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='modal/js/fullcalendar.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='modal/js/scripts.js') }}"></script>
<script type="text/javascript">
$(document).ready(function() {
	"use strict";
	window.global_DOM_cache = {}; // Global object to store DOM-elements for extensive use
    methods.init('{{ config.BASE_URL }}',{{ config.DEFAULT_SALESREP_ID }});
});
</script>
<div class="scribe">
<div class="wp-modal" id="question-form">
    <div class="modal-wrap">
    <a href="#" class="modal-close glyphicon glyphicon-remove"></a>
        <div class="modal-header">
            <span>Schedule a Demo</span>
        </div>
        <form method="POST" action="/scribeFormPost1/45" id="form1">
            <div class="form-group" id="check1-scroll">
                <input type="text" class="form-control" name="name" placeholder="Full Name" required="required" />
            </div>
            <div class="form-group">
                <div class="wi_100 input-group">
                    <input type="email" class="form-control" name="email" placeholder="Email Address" required="required" />
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="company" placeholder="Company name" required="required" />
            </div>
            <div id="extra-fields"></div>
            <div id="button-area">
                <button type="submit" class="wi_100 mart25 btn btn-danger check-email" disabled="disabled">Submit</button>
            </div>
        </form>
        <br>
        <br>
        <br>
    </div>
    <!--<button type="submit" id="submitButton" value="Submit" style="position:fixed; bottom:0; left:0" class="btn btn-danger btn-lg btn-block" disabled>Submit</button>-->
</div>

<!-- Fade -->
<div id="wp-fade"></div>
</div>