{% extends 'layouts/index.html' %}
{% block content %}
        <!-- ========== HEADER ========== -->
        <header class="header main-header parallax-bg" data-parallax="scroll" data-image-src="static/indexAssets/images/sales-call-pexels-photo-29594.jpg" data-speed="0.4" >
            <div class="primary-trans-bg" style="box-shadow:inset 0px 0px 0 2000px rgba(74,163,223,0.35); background-color:transparent">
                <div class="container">
                    <!-- For centering the content vertically -->
                    <div class="outer">
                        <div class="inner text-center">
                          <h1 class="white-color" style="font-size:3.5em">Increase qualified demos for your sales team today</h1>
                          <h5><h5>Get every hot lead to the right sales executive faster</h5></h5>
                          <a href="#" onclick="scribe.openCalendar()" class="btn show-popup se-btn-white btn-rounded">Schedule A Demo</a>
                      </div> <!-- end inner -->
                    </div> <!-- end outer -->
                </div> <!-- end container -->
            </div> <!-- end primary-trans-bg -->
        </header>

        <!-- ========== OFFER SECTION ========== -->
        <section class="se-section offer-section gray-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                      <p><span class="badge">TIP</span> Want a demo of our product? Click on "Schedule a Demo" to see for yourself!</p>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== FEATURES ========== -->
        <section class="se-section se-steps">
          <div class="container">
            <div class="row text-center">
              <h3 class="underline mtn">It's as easy as 1 - 2 - 3!</h3>
            </div>
            <!-- end row -->
            <div class="row">
              <div class="col-md-4 col-sm-4 one-step">
                <h4>Visitors Fill Smart Form</h4>
                <p>Our 'Schedule A Demo' form asks questions instead of your SDR, saving you 50% of their time each day. &nbsp;</p>
              </div>
              <div class="col-md-4 col-sm-4 one-step" style=background-color:#4aa3df>
                <h4 style="color:white">We Qualify Leads Instantly</h4>
                <p style=color:white>We qualify prospects as they type. Get notified instantly if a target account prospect visits your website.</p>
              </div>
              <div class="col-md-4 col-sm-4 one-step">
                <h4>Best Leads Book Demos</h4>
                <p>Only qualified leads book demos with the right salespeople. Don't lose any more leads to 12 hour email response times.</p>
              </div>
            </div>
            <!-- end row -->
          </div>
          <!-- end container -->
        </section>
        <section class="se-section gray-section">
<div class="container">
  <div class="row text-center" style=background-color:white>
    <h1 class="underline mtn">Our Lead Qualification Methodology</h1>
  </div>
    <div class="row">
      <div class="col-md-4 col-sm-3 se-feature-style-3" style=background-color:white>
        <div class="feature-wrap"> <i class="icon ion-ios-paper-outline"></i>
          <h5>Dynamic Questions</h5>
          <p>We create different questions for different prospects based on fit and behavior.</p>
        </div>
        <!-- end feature-wrap -->
      </div>
      <div class="col-md-4 col-sm-6 se-feature-style-3" style=background-color:white>
        <div class="feature-wrap"> <i class="icon ion-ios-analytics-outline"></i>
          <h5>Data Signals</h5>
          <p>We use thousands of external and internal data points to qualify a lead</p>
        </div>
                <!-- end feature-wrap -->
      </div>
              <!-- end se-feature-style-3 -->
              <!-- end se-feature-style-3 -->
      <div class="col-md-4 col-sm-6 se-feature-style-3" style=background-color:white>
                <div class="feature-wrap"> <i class="icon ion-ios-lightbulb-outline"></i>
                  <h5>Artificial Intelligence</h5>
                  <p>We ask custom, long form questions and process human conversations.</p>
                </div>
                <!-- end feature-wrap -->
      </div>
              <!-- end se-feature-style-3 -->
              <!-- end se-feature-style-3 -->
              <!-- end se-feature-style-3 -->

      <!-- end se-feature-style-3 -->

              <!-- end se-feature-style-3 -->

              <!-- end se-feature-style-3 -->
    </div>
            <!-- end row -->
          </div>
          <!-- end container -->
        </section>

<section class="se-section gray-section">
  <div class="container">
            <div class="row">
              <div class="col-md-8 pull-right">
                <h4 class="underline">Hear What Our Customers Say</h4>
                <p>"This is the best lead qualification product I've used. Other softwares are all lagging indicators. Scribe informs me even before my lead has been entered in Salesforce!</p>
                <p>&nbsp;</p>
                <p>-Aviral Chandra, CEO, Sensus Labs </p>
              </div>
              <!-- end col-md-6 -->
              <div class="col-md-4">
<h4 class="underline">Some Highlights</h4>
                <ul class="highlights">
                  <li><em class="icon ion-checkmark"></em>2X Qualified Demos</li>
                  <li><em class="icon ion-checkmark"></em>Zero time spend on bad leads</li>
                  <li><em class="icon ion-checkmark"></em>1.3X Visitor to Prospect Conversion</li>
                  <li><em class="icon ion-checkmark"></em>24*7 dedicated support</li>
                </ul>
              </div>
              <!-- end col-md-6 -->
            </div>
            <!-- end row -->
          </div>
          <!-- end container -->
        </section>

        <!-- ========== STEPS ========== -->
        <!-- ========== FEATURES ========== -->        <!-- end features-section -->
{% endblock %}
