<p>Hi {{ client.name }}</p>
<p>Do your advertisers pay you after 30 days or more? Is your company unable to grow as fast as you want to, because of cash constraints? Is a bank line of credit too limited or hard to get?</p>

<p>If so, we can help you solve your problems. I'm the Founder and my company <a href="http://www.tryscribe.com/?utm_source=newsletter&utm_campaign=firstInteractionMedia&utm_medium=email">Scribe</a> can propel your company {{ client.company }}'s growth. </p>
<p>Scribe provides invoice financing for <b>Digital Media</b> companies. 
<ul>
<li>Unlike traditional banks which treat ad invoices as high risk, we understand ad tech and can provide you with low interest collateral free invoice financing. </li>
<li>Whether you are an ad agency, network or a publisher we buy your invoices for as little 1%-1.5% monthly interest rates.</li>
</ul></p>

<p>We are a San Francisco based, venture-backed company. Collectively we have 10 years of experience across Harvard Business School, IIT Bombay, Mckinsey & Co, Palantir and other elite institutions.</p>

<p>To find out how to grow your business, please text/whatsapp me at +1 (858) 666-7323 or schedule a call here: <a href="http://calendly.com/sachin_scribe">calendly.com/sachin_scribe</a>. You can also email me with questions or your phone number and I will call you back. </p>
<p>Thanks,<br>
Sachin</p>