 <!-- START FOOTER -->
            <div class="footer">
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                    <span class="apple-link">Scribe Technologies inc, 450 Townsend, San Francisco CA 94107</span>
                    <br> Don't like these emails? <a href="mailto:unsubscribe@tryscribe.com?Subject=Please%20unsubscribe%20me">Unsubscribe</a>.
                  </td>
                </tr>
                <tr>
                  <td class="content-block powered-by">
                    Powered by <a href="http://www.ycombinator.com/">YCombinator investment</a>.
                  </td>
                </tr>
              </table>
            </div>
            <!-- google analytics email event tracker -->
            <img src="https://www.google-analytics.com/collect?v=1&tid=UA-35342060-2&cid={{ client.id }}&t=event&ec=email&ea=open&el={{ client.id }}&cs=newsletter&cm=email&cn=firstInteraction&cm=1"/>
            <!-- END FOOTER -->

<!-- END CENTERED WHITE CONTAINER --></div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </body>
</html>